.App {
  width: 100%;
  padding: 0 10rem 0 1rem;
  text-align: center;
  background-color: #282c34;
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: rgb(218, 218, 109);
  text-decoration: none;
}

.nav-items{

  justify-content: center;
  display: flex;
  flex-direction: row;
  position: sticky;
}

.App-souschef{
  
  justify-content: center;
  display: flex;
}
.App-shoppinglist {
  
  justify-content: center;
  display: flex;
}
.App-recipes{
  
  justify-content: center;
  display: flex;
}
.App-ocr{
  
  justify-content: center;
  display: flex;
}