.recipes-container {
    width: 100%;
    padding: 0 1rem 0 1rem;
    height: auto;
    margin: 0vw 1vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.recipes-box {
width: 100%;
height: auto;
flex-direction: row;
border-radius: 0;
border-color: rgb(0, 0, 0);
}
.recipes-index {
width: 40%;
margin-right: 20px;
color: var(--primary-color);
border-radius: 15px;
background-color: var(--secondary-color);
flex-direction: column;
align-items: center;
justify-content: left;
text-decoration: none;
}

.chefContainer {
    display: flex;
    padding: 10%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;
}
.mealType{
    justify-items: left;
}

.recipes-index h3 {
    font-size: 1.5rem;
    font-weight: 600;
    padding: 1rem;
    margin: 0;

}
.recipes-index ul {
    list-style-type: none; 
}

.recipes-show {
width: 70%;
display: flex;
flex-direction: column;
color: var(--primary-color);
border-radius: 25%;

background-color: var(--secondary-color);
align-items: center;
}
