.OCR-container {
  font-family: sans-serif;
  display: flex;
  flex-direction: column;
  width: 100%;  
  padding: 0 10rem 0 1rem;
  margin: 0vw 5vw;
  align-items: center;
  justify-content: center;
  background-color: #282c34;
  min-height: 100vh;
  font-size: calc(7px + 2vmin);
  color: white;
}

.OCR-container h1 {
  justify-content: center;
}

.OCR-container img {
  width: 25%;

}
.img-container {
    display: flex;
    flex-direction: row;
}
  .OCR-image {
    max-width: 200px;
    max-height: 400px;
    width: 25%;
    pointer-events: none;
  }
   
  .text-box {
    background: #fff;
    color: #333;
    border-radius: 5px;
    text-align: center;
  }
