.shoppinglist-container {
    width: 100%;
    padding: 0 1rem 0 1rem;
    color: var(--tertiary-background-color);
    min-height: 50vh;
    margin: 0vw 1vw;
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    justify-content: left;
}

.flex-container {
    display: flex;
    flex-direction: row;
    /* text-justify: center; */
    justify-content: left;
    width: 100%;
    padding: 0 1rem 0 1rem;
}

.edit-box {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* align-items: flex-start; */
}

.transfer-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* align-items: start; */
}

.edit-list {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.transfer-list {
    display: flex;
    flex-direction: column;
    justify-content: center;
}