.shoppinglist-container {
    font-family: sans-serif;
    width: 100%;
    padding: 0 10rem 0 1rem;
    min-height: 50vh;
    margin: 0vw 5vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.flex-container {
    display: flexbox;
    flex-direction: row;
    text-justify: center;
    justify-content: center;
    width: 100%;
    padding: 0 1rem 0 1rem;
}

.edit-list {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.transfer-list {
    display: flex;
    flex-direction: column;
    justify-content: center;
}